legend, #submit {
    border: none;
    color: white;
    background-color: rgb(151, 191, 13);
    text-align: center;
}

fieldset {
    border-top: 0;
    background-color: rgb(245, 245, 240);
}

input {
    height: 20px;
    display: block;
    margin: 10px;
    width: 246px;
}

form {
    margin: auto;
    width: 300px;
}

#submit {
    width: 160px;
    height: 25px;
    width: 248px;
}

legend {
    height: 30px;
    font-size: 21px;
}