h1 {
  text-align: center;
  font-size: 5vw;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}

.container {
    align-content: center;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .cell, .cell-empty {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 25%;
    border: 1px solid black;
  }

  .cell img, .cell-empty img {
    width: 100%;
    height: auto;
  }

  .cell:hover, .cell-empty:hover {
    background-color: black;
  }