Options -MultiViews
RewriteEngine On

RewriteBase /web_technologies_2018_2019/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]